@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

:root{
  font-size: 16px !important;
  font-family: 'Open Sans' !important;
  --text-primary: #b6b6b6 !important;
  --text-secondary: #ececec !important;
  --bg-primary: #23232e !important;
  --bg-secondary: #141418
}

body{
  font-family: "Roboto" !important;
  font-style: italic;
  font-weight: 500 !important;
  color: black !important;
  background: whitesmoke !important;
  margin: 0 !important;
  padding: 0 !important;
}

body::-webkit-scrollbar {
  width: 0.5rem !important;
}

body::-webkit-scrollbar-track{
  background: #1e1e24 !important;
}

body::-webkit-scrollbar-thumb{
  background: #123456 !important;
}

main{
  margin-left: 5rem !important;
  padding: 1rem !important;
}

.navbar{
  font-family: Helvetica, sans-serif !important;
  font-style: normal !important;
  position: fixed !important;
  background-color: var(--bg-primary) !important;
  transition: width 200ms ease !important;
  padding: 0 !important;
  align-items: unset !important;
}

.navbar-nav{
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.nav-item{
  width: 100% !important;
}

.nav-link {
  display: flex !important;
  align-items: center !important;
  height: 5rem !important;
  color: var(--text-primary) !important;
  text-decoration: none !important;
}

.nav-link:hover  {
  background: #00dc22 !important;
  color: black !important;
}

.link-text {
  display: none !important;
  margin-left: 1rem !important;
}

.nav-link i {
  width: 2rem !important;
  min-width: 2rem !important;
  margin: 0 1.5rem !important;
}

.logo {
  font-weight: bold !important;
  text-transform: uppercase !important;
  margin-bottom: 1rem !important;
  text-align: center !important;
  color: var(--text-secondary) !important;
  background: var(--bg-secondary) !important;
  font-size: 1.5rem !important;
  letter-spacing: 0.3ch !important;
  width: 100% !important;
}

.logo i {
  transform: rotate(0deg) !important;
  transition: transform var(--transition-speed) !important;
}

@media only screen and (max-width: 600px){
  .navbar{
      bottom: 0 !important;
      width: 100vw !important;
      height: 5rem !important;
      z-index: 1;
  }

  .logo{
      display: none !important;
  }

  .navbar-nav {
      flex-direction: row !important;
  }

  .nav-link{
      justify-content: center !important;
  }
  main{
      margin-left: 0 !important;
      margin-bottom: 5rem;
  }

  .nav-item:last-child{
    margin-left: auto !important;
  }
}


@media only screen and (min-width: 600px){
  .navbar{
    top: 0 !important;
    width: 5rem !important;
    height: 100vh !important;
    z-index: 1;
  }

  .navbar:hover {
    width: 16rem !important;
  }

  .navbar:hover .link-text{
    display: block !important;
    width: 10rem;
  }

  .nav-link:hover{
    width: 16rem;
    font-weight: bolder;
  }

  .nav-item:last-child{
    margin-top: auto !important;
  }
}